body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFD700;
}

main {
    padding: 20px;
}

main section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.nature-image {
    width: 80%; 
    height: auto; 
    max-width: 600px; 
    display: block;
    margin: 20px auto;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

section h2 {
    text-align: center;
}

section p {
    text-align: center;
}


.attraction-image{
    width: 80%; 
    height: auto; 
    max-width: 600px; 
    display: block;
    margin: 20px auto;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

section h2 {
    text-align: center;
}

section p {
    text-align: center;
}
